{
  semi: false,
  tabWidth: 2,
  singleQuote: true,
  trailingComma: "none",
  bracketSpacing: true,
  printWidth: 220,
  twigMultiTags: [
    "nav,endnav",
    "switch,case,default,endswitch",
    "ifchildren,endifchildren",
    "cache,endcache"
  ],
  pluginSearchDirs: ["./prettier-plugin-twig-melody"]
}

